body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:20px;
}

.button_container {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px;
}

.drawing_container {
    display: flex;
    justify-content: center;
}

button {
    font-size: 20px;
}

.containerGrid {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

.containerRow {
    display: flex;
    flex: 1;
}

.containerRow .grid {
    /* border: 1px solid lightgrey; */
    flex: 1;
}

